.container  {
    border-radius: 50px;
    background-color: orangered;
    padding: 20px;
    border-style: solid;
    text-align: center;
}

body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    text-decoration: none;
    font-family: 'Cambria', sans-serif;
}

#submitWPC {
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;

}

#viewWPC {
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;

}

#comboWPC {
    background-color: lightgray;
    color: black;
    padding: 12px 20px;
    border: solid;
    border-radius: 4px;
    cursor: pointer;

}

#comboWPC:hover {
    background-color: orange;
    border-color: black;
    transition-duration: 0.1s;
    color: white;
}

#submitWPC:hover {
    background-color: orange;
    border-color: black;
    transition-duration: 0.1s;
    color: white;
}

#viewWPC:hover {
    background-color: orange;
    border-color: black;
    transition-duration: 0.1s;
    color: white;
}

