<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/NavBar.css"/>
    <meta charset="UTF-8">
    <title>NavBar</title>
    <base href="/BoschToolMonitor/">
</head>
<body>
<ul id="menu-bar">
    <li class="active"><a href="welcome">Home</a></li>
    <li><a href="#">Work Piece Carriers</a>
        <ul>
            <li><a href="workpiece">Submit</a></li>
            <li><a href="workpiececarriers">View All</a></li>

        </ul>
    </li>
    <li><a href="#">WPC Files</a>
        <ul>
            <li><a href="createWPCFile">Submit</a></li>
            <li><a href="wpcFiles">View All</a></li>
        </ul>
    </li>
    <li><a href="#">Repair Tickets</a>
        <ul>
            <li><a href="/createOpenRepairTicket">Open</a></li>
            <li><a href="/openedRepairTickets">View</a></li>
        </ul>
    </li>
    <li><a href="#">Admin</a>
        <ul>
            <li><a href="wpccombos">WPC Product Types</a></li>
            <li><a href="RepairCodes">Repair Codes</a></li>
        </ul>
    </li>
</ul>
</body>
</html>