<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Open Repair Ticket Form</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/main.css?v=1.15"/>
    <script src="dependencies.js"></script>
    <script src="timeStamp.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#valueStream").change(function () {
                setValueStream();
                updateProductionLines();
                updateProductTypes();
                updateRepairCategories();
                updateRepairDetails()
            });
            $("#productionLine").change(function () {
                setProductionLine();
                updateProductTypes();
                updateRepairCategories();
                updateRepairDetails();
            });
            $("#repairCategory").change(function () {
                setRepairCategory();
                updateRepairDetails();
            });
            $("#nav-placeholder").load("/BoschToolMonitor/NavigationBar");
        });
    </script>
</head>

<body onload="getTimeStamp()">

<div id="nav-placeholder">
</div>

<h1>Open Repair Ticket Form</h1>

<label th:if="${error != null}" th:text="${error}"/>
<form action="#" th:action="@{/createOpenRepairTicket}" th:object="${repairTicket}" method="post">

    <div class="container">
        <h2>Value Stream:
            <select th:field="*{valueStream}" type="text" name="fileType" id="valueStream">
                <option th:each="valueStream : ${valueStreams}"
                        th:value="${valueStream}" th:text="${valueStream}"/>
                </option>
            </select>
        </h2>

        <h2>Production Line:
            <select type="text" id="productionLine" th:field="*{productionLine}">
                <option th:if="${prodLines} != null" th:each="prodLine : ${prodLines}"
                        th:value="${prodLine}" th:text="${prodLine}"/>
            </select>
        </h2>

        <h2>Product Type:
            <select type="text" id="productType" th:field="*{productType}">
                <option th:if="${prodTypes} != null" th:each="prodType : ${prodTypes}"
                        th:value="${prodType}" th:text="${prodType}"/>
            </select>
        </h2>

        <h2>WPC Number: <input type="number" th:min="1" name="workPieceCarrierNumber"
                               th:value="${workPieceCarrierNumber} ? ${workPieceCarrierNumber} : '1'" step="1"
                               id="workPieceCarrierNumber"></h2>

        <h2>Repair Category:
            <select type="text" id="repairCategory" th:field="*{repairCategory}">
                <option th:if="${repairCats} != null" th:each="repairCat : ${repairCats}"
                        th:value="${repairCat}" th:text="${repairCat}"/>
            </select>
        </h2>

        <h2>Repair Detail:
            <select type="text" id="repairDetail" th:field="*{repairDetail}">
                <option th:if="${repairDets} != null" th:each="repairDet : ${repairDets}"
                        th:value="${repairDet}" th:text="${repairDet}"/>
            </select>
        </h2>

        <h2>Extra Info: <input type="text" name="extraInfo" th:field="*{extraInfo}"/></h2>

        <h2>User Entry: <input type="text" name="userEntry" th:field="*{userEntry}"/></h2>

        <h2>Time Stamp Opened:
            <input id="timeStamp" type="text" value="Current Date And Time" name="timeStampOpened"
                   th:field="*{timeStampOpened}"/>
        </h2>

        <button type="submit" value="Submit">Submit</button>
    </div>

</form>

</body>
</html>