<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="wpcComboStyles.css?v=1.21"/>
<head runat="mysql">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
    <meta charset="UTF-8"/>
    <title>Open Repair Tickets</title>
</head>

<body>

<h1>Open Repair Tickets</h1>

<table id="myTable" class="display">

    <thead>
        <tr>
            <th>Value Stream</th>
            <th>Production Line</th>
            <th>Product Type</th>
            <th>WPC Number</th>
            <th>Repair Category</th>
            <th>Repair Detail</th>
            <th>Extra Info</th>
            <th>User Entry</th>
            <th>Time Stamp Opened</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="repairTicket : ${repairTickets}">
            <td style="text-align:center" th:text="${repairTicket.valueStream}"></td>
            <td style="text-align:center" th:text="${repairTicket.productionLine}"></td>
            <td style="text-align:center" th:text="${repairTicket.productType}"></td>
            <td style="text-align:center" th:text="${repairTicket.workPieceCarrierNumber}"></td>
            <td style="text-align:center" th:text="${repairTicket.repairCategory}"></td>
            <td style="text-align:center" th:text="${repairTicket.repairDetail}"></td>
            <td style="text-align:center" th:text="${repairTicket.extraInfo}"></td>
            <td style="text-align:center" th:text="${repairTicket.userEntry}"></td>
            <td style="text-align:center" th:text="${repairTicket.timeStampOpened}"></td>
            <td style="text-align:center">
                <a th:href="@{/delete_repairTicket(valueStream=${repairTicket.valueStream},
                productionLine=${repairTicket.productionLine}, productType=${repairTicket.productType},
                workPieceCarrierNumber=${repairTicket.workPieceCarrierNumber}, repairCategory=${repairTicket.repairCategory},
                repairDetail=${repairTicket.repairDetail}, extraInfo=${repairTicket.extraInfo}, userEntry=${repairTicket.userEntry},
                timeStampOpened=${repairTicket.timeStampOpened})}"><button type="button">Delete</button></a>
            </td>
        </tr>
    </tbody>
</table>

</body>

</html>