<html>
<link rel="stylesheet" type="text/css" href="welcomePageStyles.css?v=1.11"/>
    <head>
        <meta charset="UTF-8">
        <title>Work Piece Carrier Home Page</title>
    </head>

    <body>
        <div class = "container">
            <h1>Welcome to your Bosch Tool Monitor!</h1>
            <div id="submitDiv">
                <form>
                    <button type="submit" id="submitWPC" formaction="./workpiece">Submit a Work Piece Carrier</button>
                </form>

                <form>
                    <button type="submit" id="viewWPC" formaction="./workpiececarriers">View Work Piece Carriers</button>
                </form>
                <form>
                    <button type="submit" formaction="./wpccombos">Manage WPC Combos</button>
                </form>
            </div>
        </div>
    </body>

</html>