<html>
<link rel="stylesheet" type="text/css" href="welcomePageStyles.css?v=1.21"/>
    <head>
        <meta charset="UTF-8">
        <title>Work Piece Carrier Home Page</title>
    </head>

    <body>
        <div class="container">
            <h1>Welcome to your Bosch Tool Monitor!</h1>
                <form>
                    <button type="submit" formaction="./workpiece">Submit a Work Piece Carrier</button>
                </form>

                <form>
                    <button type="submit" formaction="./workpiececarriers">View Work Piece Carriers</button>
                </form>
                <form>
                    <button type="submit" formaction="./wpccombos">Manage WPC Combos</button>
                </form>
                <form>
                    <button type="submit" formaction="./createWPCFile">Submit a WPC File</button>
                </form>
                <form>
                    <button type="submit" formaction="./wpcFiles">View WPC Files</button>
                </form>
        </div>
    </body>

</html>