<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="formStyles.css"/>
<head>
    <meta charset="UTF-8">
    <title>Work Piece Carrier Form</title>
    <script type="text/javascript">
        function sendAjaxRequestValueStream() {
            var valueStream = $("#valueStream").val();
            $.get("/productionLines?=valueStream=" + valueStream, function (data) {
                $("#productionLine").empty();
                data.forEach(function (item, i) {
                    var option = "<option value = " + item + ">" + item + "</option>";
                    $("#productionLine").append(option);
                });
            });
        };

        function sendAjaxRequestProductionLine() {
            var productionLine = $("#productionLine").val();
            var valueStream = $("#valueStream").val();
            $.get("/productTypes?=valueStream" + valueStream + '&productionLine=' + productionLine, function (data) {
                $("#productType").empty();
                data.forEach(function (item, i) {
                    var option = "<option value = " + item + ">" + item + "</option>";
                    $("#productType").append(option);
                });
            });
        };

        $(document).ready(function () {
            $("#valueStream").change(function () {
                sendAjaxRequestValueStream();
            });
            $("#productionLine").change(function () {
                sendAjaxRequestProductionLine();
            });
        });
    </script>
</head>
<body>

<h1>Create a Work Piece Carrier</h1>

<label th:if="${error != null}" th:text="${error}"/>
<form action="#" th:action="@{/workpiece}" th:object="${carrier}" method="post" enctype="multipart/form-data">

    <div class="container">

        <h2>Value Stream:
        <select th:field="*{valueStream}" type="text" name="fileType"
                onchange="sendAjaxRequestValueStream()">
            <option th:each="valueStream : ${valueStreams}"
                    th:value="${valueStream}"
                    th:text="${valueStream}"
            </option>
        </select>
        </h2>

        <h2>Production Line:
        <select th:field="*{productionLine}" type="text" id="prodLine" onchange="sendAjaxRequestProductionLine()">
            <option th:text="prod" th:value="prod"/>
        </select>
        </h2>

        <h2>Product Type:
        <select th:field="*{productType}" type="text" id="prodType">
            <option th:text="prod" th:value="prod"/>
        </select>
        </h2>

        <h2>WPC Number: <input type="number" name="points" th:field="*{workPieceCarrierNumber}" step="1">
        </h2>

    </div>

    <input type="submit" value="Submit"/>
    <input type="cancel" value="Cancel"/>

</form>
</body>
</html>