<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="welcomePageStyles.css?v=1.11"/>

<head>
  <meta charset="UTF-8">
  <title>You submitted your work piece carrier</title>
</head>

<body>
  <div class = "container">
    <h1>Congrats! You Submitted your work piece carrier!</h1>
    <div id="submitDiv">

      <form>
        <button type="submit" id="homePage" formaction="./welcome">Go To Home Page</button>
      </form>

      <form>
        <button type="submit" id="submitWPC" formaction="./workpiece">Submit Another Work Piece Carrier</button>
      </form>

      <form>
        <button type="submit" id="viewWPC" formaction="./workpiececarriers">View Work Piece Carriers</button>
      </form>

    </div>
  </div>
</body>

</html>
