<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<!--<link rel="stylesheet" type="text/css" href="styles.css?v=1.1"/>-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8"/>
    <title>Work Piece Carriers</title>
</head>
<body>

<h1>Work Piece Carriers</h1>

<form>
    <button type="submit" formaction="./workpiece">Submit a Work Piece Carrier</button>
</form>

<!--<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">-->

<table id="myTable" class="display">

    <thead>
    <tr>
        <th>Value Stream</th>
        <th>Production Line</th>
        <th>Product Type</th>
        <th>WPC Number</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="carrier : ${carriers}">
        <td th:text="${carrier.valueStream}"/>
        <td th:text="${carrier.productionLine}"/>
        <td th:text="${carrier.productType}"/>
        <td th:text="${carrier.workPieceCarrierNumber}"/>
        <td th:text="${carrier.author}"/>
    </tr>
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
</body>
<!--<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            tds = tr[i].getElementsByTagName("td");
            tr[i].style.display = "none";
            for (j = 0; j < tds.length; j++) {
                td = tds[j];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    }
                }
            }
        }
    }
</script>-->
</html>