<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You successfully submitted your work piece carrier.</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/main.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#nav-placeholder").load("/BoschToolMonitor/NavigationBar");
        });
    </script>

</head>

<div id="nav-placeholder">
</div>

<body>
    <div class="container">
        <h1>Congrats! You submitted your work piece carrier!</h1>
        <h2 th:text="'Value Stream: ' + ${carrier.valueStream}"/>
        <h2 th:text="'Production Line: ' + ${carrier.productionLine}"/>
        <h2 th:text="'Product Type: ' + ${carrier.productType}"/>
        <h2 th:text="'WPC#: ' + ${carrier.workPieceCarrierNumber}"/>
    </div>
    <br>

</body>

</html>
