<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/main.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').dataTable();
            $("#nav-placeholder").load("/BoschToolMonitor/NavigationBar");

        });
    </script>
    <meta charset="UTF-8"/>
    <title>Work Piece Carriers</title>
</head>
<body>

<div id="nav-placeholder">
</div>

<h1>Work Piece Carriers</h1>
    <br>

<table id="myTable" class="display">

    <thead>
        <tr>
            <th>Value Stream</th>
            <th>Production Line</th>
            <th>Product Type</th>
            <th>WPC Number</th>
            <th>View Files</th>
            <th>View Repair Tickets</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="carrier : ${carriers}">
            <td th:text="${carrier.valueStream}"></td>
            <td th:text="${carrier.productionLine}"></td>
            <td th:text="${carrier.productType}"></td>
            <td th:text="${carrier.workPieceCarrierNumber}"></td>
            <td>
                <a th:href="@{/wpcFilesForWPC(valueStream=${carrier.valueStream}, productionLine=${carrier.productionLine}, productType=${carrier.productType})}"><button type="button" id="viewbtn">View</button></a>
            </td>
            <td>
                <a th:href="@{/repairTicketsForWPC(valueStream=${carrier.valueStream}, productionLine=${carrier.productionLine}, productType=${carrier.productType}, workPieceCarrierNumber=${carrier.workPieceCarrierNumber})}"><button type="button" id="viewbtn">View</button></a>
            </td>
            <td>
                <a th:href="@{/delete_wpc(valueStream=${carrier.valueStream}, productionLine=${carrier.productionLine}, productType=${carrier.productType}, workPieceCarrierNumber=${carrier.workPieceCarrierNumber})}"><button type="button" id="deletebtn">Delete</button></a>
            </td>
        </tr>
    </tbody>

</table>

</body>
</html>