<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head runat="mysql">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/main.css?v=1.15"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').dataTable();
            $("#nav-placeholder").load("/BoschToolMonitor/NavigationBar");
        });
    </script>

    <meta charset="UTF-8"/>
    <title>WPC Combos</title>
</head>
<body>

<div id="nav-placeholder">
</div>

<label th:if="${error != null}" th:text="${error}"/>

    <br>

<form action="#" th:action="@{/wpccombo}" th:object="${combo}" method="post">
    <div class="container">
        <h2>Create a Product Type</h2>
        <label>ValueStream: <input type="text" th:field="*{valueStream}" step="1">
        </label>
        <br>
        <label>Production Line: <input type="text" th:field="*{productionLine}">
        </label>
        <br>
        <label>Product Type: <input type="text" th:field="*{productType}">
        </label>
        <br>
        <button type="submit" value="Submit">Submit</button>
    </div>

</form>

<br>

<table id="myTable" class="display">

    <thead>
    <tr>
        <th>Value Stream</th>
        <th>Production Line</th>
        <th>Product Type</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="combo : ${combos}">
        <td th:text="${combo.valueStream}"></td>
        <td th:text="${combo.productionLine}"></td>
        <td th:text="${combo.productType}"></td>
        <td>
            <a th:href="@{/wpccombo/delete(valueStream=${combo.valueStream}, productionLine=${combo.productionLine}, productType=${combo.productType})}"
               onclick="return confirm('Are you sure you want to delete this item? All associated Repair Tickets, WPCs and WPC Files will be deleted.');">
                <button type="button" id="deletebtn">Delete</button></a>
        </td>
    </tr>
    </tbody>

</table>

</body>
</html>