<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WPC File Form</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/main.css"/>
    <script src="dependencies.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#valueStream").change(function () {
                setValueStream();
                updateProductionLines();
                updateProductTypes();
            });
            $("#productionLine").change(function () {
                setProductionLine();
                updateProductTypes();
            });

            $("#nav-placeholder").load("/BoschToolMonitor/NavigationBar");
        });
    </script>

</head>

<body>

<div id="nav-placeholder">
</div>

<h1>WPC File Form</h1>

<label th:if="${error != null}" th:text="${error}"/>
<form action="#" th:action="@{/createWPCFile}" th:object="${wpcFile}" method="post" enctype="multipart/form-data">

    <div class="container">
        <h2>Value Stream:
            <select th:field="*{valueStream}" type="text" name="fileType" id="valueStream">
                <option th:each="valueStream : ${valueStreams}"
                        th:value="${valueStream}" th:text="${valueStream}"/>
                </option>
            </select>
        </h2>

        <h2>Production Line:
            <select type="text" id="productionLine" th:if="${prodLines} != null" th:field="*{productionLine}">
                <option th:each="prodLine : ${prodLines}"
                        th:value="${prodLine}" th:text="${prodLine}"/>
            </select>
        </h2>

        <h2>Product Type:
            <select type="text" id="productType" th:if="${prodTypes} != null" th:field="*{productType}">
                <option th:each="prodType : ${prodTypes}"
                        th:value="${prodType}" th:text="${prodType}"/>
            </select>
        </h2>

        <h2>Author: <input type="text" name="author" th:field="*{author}"/></h2>

        <h2>Revision Number: <input type="number" min="1" name="points" th:field="*{revisionNumber}" step="1"></h2>

        <h2>Revision Reason: <input type="text" name="revisionReason" th:field="*{revisionReason}"/></h2>

        <h2>File Type:
            <select type="text" name="fileType" th:field="*{fileType}">
                <option value="PDF">PDF</option>
                <option value="CAD">CAD</option>
                <option value="JPEG">JPEG</option>
                <option value="Other">Other</option>
            </select>
        </h2>


        <h2>File: <input type="file" name="fileData" th:field="*{fileData}"/></h2>
        <h5>Note: Max size of 16MB</h5>

        <button type="submit" value="Submit">Submit</button>
    </div>

</form>

</body>

</html>