<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head runat="mysql">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"/>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/BoschToolMonitor/main.css"/>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').dataTable();
            $("#nav-placeholder").load("/BoschToolMonitor/NavigationBar");
        });
    </script>
    <meta charset="UTF-8">
    <title>WPC Files</title>
</head>
<body>

<div id="nav-placeholder">
</div>

    <h1>WPC Files</h1>

    <br>

    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>Value Stream</th>
            <th>Production Line</th>
            <th>Production Type</th>
            <th>Author</th>
            <th>Revision Number</th>
            <th>Revision Reason</th>
            <th>File Type</th>
            <th>File Name</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="wpcFile : ${wpcFiles}">
                <td th:text="${wpcFile.valueStream}"/>
                <td  th:text="${wpcFile.productionLine}"/>
                <td  th:text="${wpcFile.productType}"/>
                <td  th:text="${wpcFile.author}"/>
                <td  th:text="${wpcFile.revisionNumber}"/>
                <td  th:text="${wpcFile.revisionReason}"/>
                <td  th:text="${wpcFile.fileType}"/>
                <td  th:text="${wpcFile.fileName}"/>
                <td >
                    <a th:href="@{/download/wpcFile(productionLine=${wpcFile.productionLine}, valueStream=${wpcFile.valueStream}, productType=${wpcFile.productType},
                        author=${wpcFile.author}, revisionNumber=${wpcFile.revisionNumber}, fileType=${wpcFile.fileType},
                        fileName=${wpcFile.fileName})}" th:download="@{${wpcFile.fileName}}"><button type="button">Download</button></a>
                </td>
                <td >
                    <a th:href="@{/delete_WPCFile(valueStream=${wpcFile.valueStream}, productionLine=${wpcFile.productionLine}, productType=${wpcFile.productType},
                    author=${wpcFile.author}, revisionNumber=${wpcFile.revisionNumber}, fileType=${wpcFile.fileType}, fileName=${wpcFile.fileName}, isForWPC=${isForWPC})}"><button type="button">Delete</button></a>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>